/* 画面のスタイルシート*/
body {
    margin: 0;
}
img {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration:none; 
    color: #FFF
}
/* [header]のスタイルシート*/
.block-header{
    display: flex;
    height: 179px;
    background-color: #747D54;
}
.block-header img{
    margin: 13px auto 13px 88px;
}
ul.header-list{
    display: flex;
    padding-inline-start: 0px;
}
.header-list li{
    font-family: "ヒラギノ角ゴシック";
    font-size: 30px;
}
/* [main]のスタイルシート*/
/* メインタイトル　トータルヘルスケアで、仕事も、健康も、グレードアップ〜 */
.main-title-all{
    background-image: url(img/cooking.png);
    height: 1000px;
}
.main-title h2{
    font-family: "ヒラギノ明朝 ProN";
    color: #14120E;
    -webkit-text-stroke: 1px #FFF;
    font-weight: bold;
    padding-top: 7rem;
    padding-left: 7.5rem;
}
.main-title h1{
    font-family: "ヒラギノ明朝 ProN";
    color: #14120E;
    -webkit-text-stroke: 2px #FFF;
    font-weight: bold;
    padding-top: 1.25rem;
    padding-left: 6rem;
}
/* 認定講座について */
#lesson-detail h3{
    margin-top: -43px;
    color: #5C5337;
    font-family: "ヒラギノ明朝 ProN";
}
#lesson-detail h4{
    width: 75vw;
    font-family: "ヒラギノ明朝 ProN";
    border: 2px solid #5C5337;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5C5337;
    box-shadow: 0 0 0 30px #D2E09F;
    background-color: #D2E09F;
    margin: 6rem auto auto 12rem;
}
#lesson-detail img{
    width: 60vw;
    height: auto;
}
.detail-content{
    display: flex;
    margin: 7rem auto auto 5rem;
}
.detail-content p{
    font-size: calc(0.5rem + 1.2vw);
    font-weight: 300;
    line-height: 1.0;
    color: #5C5337;
    margin-left: -13rem;
}
.detail-content span{
    text-decoration:underline;
    text-decoration-color:#ff8748;
}
/* 受講者の声 */
.customer-voice{
    position: relative;
}
.voice-title{
    height: 245px;
    margin-top: 123px;
    font-family: "ヒラギノ明朝 ProN";
    background-color: #ff8748;
    background: linear-gradient(to right , #ff8748 , #fff); /* 徐々に透明にする */
    color: #FFF;
}
.voice-title h4{
    margin-left: 8rem;
}

.voice-first, .voice-second, .voice-third{
    color: #5C5337;
    font-family: "ヒラギノ角ゴシック";
    font-size: calc(0.5rem + 1.1vw);
    font-weight: 300;
    line-height: 1.0;
    width: 85%;
    height: 291px;
    box-shadow: 6px 0 25px rgba(0,0,0,.3);
    margin: 7rem;
}
.voice-first span, .voice-second span, .voice-third span{
    text-decoration:underline;
    text-decoration-color:#ff8748;
}
/* 資格取得で描くステップアップ */
.license-step h4{
    width: 75vw;
    font-family: "ヒラギノ明朝 ProN";
    border: 2px solid #5C5337;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5C5337;
    box-shadow: 0 0 0 30px #D2E09F;
    background-color: #D2E09F;
    margin: 6rem auto auto 12rem;
}
.step-text{
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    font-size: calc(0.5rem + 1.1vw);
    font-weight: 300;
    line-height: 1.0;
    margin: 6rem auto auto 6rem;
}
img[src="img/stepup.png"]{
    margin-left: 12rem;
    width: 80%;
    height: auto;
    position: relative;
    z-index: 1;
}
img[src="img/background-green1.jpg"]{
    width: 100%;
    height: auto;
    margin-top: -10rem;
}
img[src="img/background-green2.jpg"]{
    width: 100%;
    height: auto;
    margin-top: -10rem;
}
/* 基礎講座 */
.basic-lesson{
    background-image: url(img/background-wood.jpg);
}
.b-lesson-title h3{
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    background-color: #D2E09F;
    width: 80%;
    margin-left: 9rem;
}
.b-lesson-title h4{
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    margin-left: 12rem;
}
img[src="img/lesson-image.png"]{
    width: 38vw;
    height: auto;
}
.b-lesson-detail{
    display: flex;
    margin-left: 9rem;
}
.b-lesson-text p{
    font-size: calc(0.5rem + 1.1vw);
    font-weight: 300;
    line-height: 1.5;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    margin-block-end: 0px;
}
/* ベーシックコース */
.basic-title{
    display: flex;
    height: 15vh;
    margin-left: 9rem;
}
.basic-title h3{
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    background-color: #F1FAD2;
    width: 90%;
    padding: 24px 0 0 167px;
    margin-left: -154px;
}
.basic-title img{
    z-index: 10;
    height: 130px;
    width: 130px;
    margin: -7px 0 0 23px;
}
img[src="img/basic-image.png"]{
    width: 35vw;
    height: auto;
    margin-left: 9rem;
}
.basic-content{
    display: flex;
    margin-top: 2rem;
}
.basic-text p{
    font-size: calc(0.5rem + 1.1vw);
    font-weight: 300;
    line-height: 1.0;
    color: #5C5337;
    margin: 1rem auto auto 1rem;
}
.basic-text span{
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color:#dceb98;
    color: #5C5337;
    margin-left: 2rem;
}
/* サポートコース */
.support-detail h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    background-color: #F1FAD2;
    padding: 20px 0 20px 44px;
}
img[src="img/support-image.png"]{
    width: 90%;
    height: auto;
}
.support-content{
    display: flex;
    margin-top: 15px;
}
.support-text p{
    font-size: 30px;
    color: #5C5337;
    margin-left: 30px;
}
.support-text span{
    font-size: 40px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color:#dceb98;
    color: #5C5337;
    margin-left: 15px;
}
/* フルサポートコース */
.fullsupport-title{
    display: flex;
    height: 115px;
}
.fullsupport-title h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 90%;
    background-color: #F1FAD2;
    padding: 24px 0 0 167px;
    margin-left: -154px;
}
.fullsupport-title img{
    z-index: 10;
    margin: -7px 0 0 23px;
    height: 130px;
    width: 130px;
}
img[src="img/fullsupport-image.png"]{
    width: 90%;
    height: auto;
}
.fullsupport-content{
    display: flex;
    margin-top: 15px;
}
.fullsupport-text p{
    font-size: 30px;
    color: #5C5337;
    margin-left: 30px;
}
.fullsupport-text span{
    font-size: 40px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color:#dceb98;
    color: #5C5337;
    margin-left: 15px;
}
.nutrition-lesson p{
    font-size: 25px;
    margin-left: 76px;
}
.inquiry-button{
    display: flex;
}
/* お問い合わせボタン */
img[src="img/speech-bubble.png"]{
    width: 40vw;
    height: auto;
}
img[src="img/inquiry-button.png"]{
    width: 25vw;
    height: auto;
}
/* 育成講座 */
.t-training-lesson{
    background-image: url(img/background-wood2.jpg);
}
.t-lesson-title h3{
    font-size: 57px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    background-color: #D2E09F;
    width: 80%;
}
.t-lesson-title h4{
    font-size: 51px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    margin-left: 9rem;
}
.t-lesson-detail{
    display: flex;
}
.t-lesson-text p{
    font-size: 30px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
/* トータルヘルスケアフードアドバイザー２級　講習 */
.adviser2-detail h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    background-color: #F1FAD2;
    padding-top: 20px 0 20px 44px;
}
.adviser2-content{
    display: flex;
    margin-top: 15px;
}
.adviser2-text p{
    font-size: 30px;
    color: #5C5337;
    margin-left: 30px;
}
.adviser2-text span{
    font-size: 40px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color:#dceb98;
    color: #5C5337;
    margin-left: 15px;
}
.adviser2-memo p{
    font-size: 25px;
}
/* その後、1級（講師）、シニア（認定講師）へステップアップ */
.adviser1-detail h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    background-color: #F1FAD2;
    padding-top: 20px 0 20px 44px;
}
.adviser1-content{
    display: flex;
    margin-top: 15px;
}
.adviser1-text p{
    font-size: 30px;
    color: #5C5337;
    margin-left: 30px;
}
/* お問い合わせボタン */
/* 料金表 */
.price{
    background-image: url(img/background-wood3.jpg);
}
.price h3{
    font-size: 57px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    background-color: #DCEB98;
    padding: 59px 0 58px 70px;
}
img[src="img/price.png"]{
    width: 90%;
    height: auto;
}
/* 当協会について */
#association-about{
    position: relative;
}
#association-about h3{
    font-family: "ヒラギノ明朝 ProN";
    font-size: 85px;
    color: #5C5337;
}
#association-about iframe{
    width: 60vw;
    height: 70vh;
    position: relative;
    z-index: 1;
}
/* 協会概要 */
#association-overview h3{
    font-size: 70px;
    width: 100%;
    height: 160px;
    background-color: #747D54;
    color: #FFF;
    margin: 223px 0 112px 0;
    text-align: center;
}
#association-overview h4{
    font-size: 60px;
    text-decoration:underline;
    text-decoration-color: #FF8748;
    color: #5C5337;
}
#association-overview p{
    font-size: 30px;
    color: #5C5337;
}
img[src="img/association.png"]{
    width: 90%;
    height: auto;
}
/* 代表挨拶 */
.greeting{
    background-image: url(img/background-kitchen.jpg);
    height: 1495px;
}
.greeting h4{
    font-size: 60px;
    text-decoration:underline;
    text-decoration-color: #FF8748;
    color: #5C5337;
}
.greeting-content{
    display: flex;
}
.greeting-content p{
    font-size: 30px;
}
img[src="img/toshiko.png"]{
    width: 40%;
    height: auto;
}
img[src="img/toshiko2.png"]{
    width: 90%;
    height: auto;
}
/* お問合わせ */
#mail-form h3{
    font-size: 70px;
    width: 100%;
    height: 160px;
    background-color: #747D54;
    color: #FFF;
    margin-bottom: 112px;
    text-align: center;
    padding-top: 90px;
}
#mail-form p{
    font-size: calc(0.5rem + 1.2vw);
    font-weight: 300;
    line-height: 1.0;
    color: #5C5337;
}
.form-text{
    margin-top: 135px;
}
/*  フォーム入力欄 */
.name input, .phone input, .email input, .address select, .reserve-1 input, .reserve-2 input, .reserve-3 input, .memo input{
    display: block;
    background-color: #F7F7F7;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    color: #5C5337;
    font-size: calc(0.5rem + 1.2vw);
    font-weight: 300;
    line-height: 1.0;
}
/* ボックスの大きさ（予約希望日以外） */
.name input, .phone input, .email input, .address select, .memo input{
    height: 80px;
}
/* ボックスの大きさ（予約希望日） */
.reserve-1 input, .reserve-2 input, .reserve-3 input{
    height: 80px;
}
.name , .phone , .email, .sex, .age, .address , .reserve, .memo{
    margin-top: 54px;
    color: #5C5337;
    font-size: 30px;
}
.form-text label{
    padding-top: 52px;
}
/* ご予約希望日 */
.reserve-list{
    display: flex;
}
.reserve-title label{
    margin-bottom: 25px;
}
.reserve label{
    margin-right: 28px;
}
/* ラジオボタン */
.select input{
    margin: 0 25px 0 4em;
    line-height: 2px;
    top: -4px;
    position: relative;
}
/* 質問内容記載欄 */
.memo input{
    margin-top: 22px;
    height: 520px;
}
/* メールポリシー */
.mail-policy{
    height: 182px;
    margin: 74px 0 0 354px;
    background-color: #F7F7F7;
    padding-top: 22px;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
.mail-policy span{
    font-size: 14px;
    color: #5C5337;
    padding-left: 11px;
}
/* 送信ボタン */
#mail-form button{
    width: 229px;
    height: 80px;
    border-radius: 50px;
    background-color: #FF8748;
    color: #FFF;
    border: none;
    font-size: 31px;
}
/* プライバシーポリシー */
.privacy-policy a{
    color: #5C5337;
}
/* 
[footer]のスタイルシート
*/
.block-footer{
    background-color: #747D54;
    height: 175px;
}
.block-footer p{
    font-family: "ヒラギノ角ゴシック";
    font-size: 15px;
    text-align: center;
    padding-top: 80px;
    color: #FFF;
}