/* 
画面のスタイルシート
*/

body {
    margin: 0;
    max-width: 1920px;
}

img {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration:none; 
    color: #FFF
}

h1,h2,h3,h4,h5,h6{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h3,h4,h5,h6{
    font-weight: 500;
}

/* 
[header]のスタイルシート
*/
.block-header{
    display: flex;
    width: 100%;
    height: 179px;
    background-color: #747D54;
}

.block-header img{
    margin: 13px auto 13px 88px;
}

ul.header-list{
    display: flex;
    margin: 78px 158px 48px 904px;
    width: 670px;
    padding-inline-start: 0px;
}

.header-list li{
    width: 120px;
    font-family: "ヒラギノ角ゴシック";
    font-size: 30px;
}

/* 協会について */
.header-list .about{
    padding-left: 155px;
    padding-right: 96px;
    width: 179px;
}

/* 
[main]のスタイルシート
*/

/* メインタイトル　トータルヘルスケアで、仕事も、健康も、グレードアップ〜 */
.main-title{
    background-image: url(img/cooking.png);
    height: 1000px;
}

.main-title h2{
    font-size: 49px;
    color: #14120E;
    -webkit-text-stroke: 2px #FFF;
    padding-left: 194.8px;
    padding-top: 115.5px;
}

.main-title h1{
    font-size: 77px;
    color: #14120E;
    -webkit-text-stroke: 3px #FFF;
    padding-left: 165px;
    padding-top: 37.5px;
}

/* 認定講座について */
#lesson-detail {
    position: relative;
}

/* 食材１の位置決め */
img[src="img/food1.png"]{
    position: absolute;
    right: 1220px;
    bottom: 740px;
}

#lesson-detail h3{
    margin-top: -43px;
    color: #5C5337;
    text-align: center;
    font-size: 70px;
    font-family: "ヒラギノ明朝 ProN";
}

#lesson-detail h4{
    position: relative;
    margin-left: 254px;
    margin-top: 80px;
    font-family: "ヒラギノ明朝 ProN";
    border: 2px solid #5C5337;
    width: 1395px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5C5337;
    font-size: 50px;
    box-shadow: 0 0 0 30px #D2E09F, 0 0 0 6px;
    background-color: #D2E09F;
    z-index: 1;
}

#lesson-detail img{
    width: 1109px;
    height: 744px;
    margin-left: 150px;
}

.detail-content{
    display: flex;
    margin-top: 80px;
}

.detail-content p{
    color: #5C5337;
    font-size: 30px;
    line-height: 20px;
    margin-left: -300px;
}

.detail-content span{
    text-decoration:underline;
    text-decoration-color:#ff8748;
}

/* 受講者の声 */
.customer-voice{
    position: relative;
}

.voice-title{
    height: 245px;
    margin-top: 123px;
    font-family: "ヒラギノ明朝 ProN";
    font-size: 55px;
    background-color: #ff8748;
    background: linear-gradient(to right , #ff8748 , #fff); /* 徐々に透明にする */
    color: #FFF;
    padding-top: 51px;
    padding-left: 211px;
    line-height: 100px;
}

/* 1人目 */
.voice-first{
    color: #5C5337;
    font-family: "ヒラギノ角ゴシック";
    font-size: 30px;
    width: 1502px;
    height: 291px;
    margin-left: 206px;
    margin-top: 74.5px;
    padding-left: 55px;
    padding-top: 62px;
    line-height: 20px;
    box-shadow: 6px 0 25px rgba(0,0,0,.3);
}

.voice-first span{
    text-decoration:underline;
    text-decoration-color:#ff8748;
}

.first-name p{
    padding-left: 1205px;
    padding-top: 30px;
}

/* 2人目 */
.voice-second{
    color: #5C5337;
    font-family: "ヒラギノ角ゴシック";
    font-size: 30px;
    width: 1502px;
    height: 291px;
    margin-left: 206px;
    margin-top: 74.5px;
    padding-left: 55px;
    padding-top: 62px;
    line-height: 20px;
    box-sizing: content-box;
    box-shadow: 6px 0 25px rgba(0,0,0,.3);
    background-color: #FFF;
    position: relative;
    z-index: 1;
}

.voice-second span{
    text-decoration:underline;
    text-decoration-color:#ff8748;
}

.second-name p{
    padding-left: 1205px;
}

/* 3人目 */
.voice-third{
    color: #5C5337;
    font-family: "ヒラギノ角ゴシック";
    font-size: 30px;
    width: 1502px;
    height: 291px;
    margin-left: 206px;
    margin-top: 74.5px;
    padding-left: 55px;
    padding-top: 62px;
    line-height: 20px;
    box-shadow: 6px 0 25px rgba(0,0,0,.3);
    background-color: #FFF;
    position: relative;
    z-index: 1;
}

.voice-third span{
    text-decoration:underline;
    text-decoration-color:#ff8748;
}

.third-name p{
    padding-left: 1205px;
    padding-top: 70px;
}

/* 食材2の位置決め */
img[src="img/food2.png"]{
    position: absolute;
    top: 957px;
    left: 780px;
}

/* 資格取得で描くステップアップ */
.license-step h4{
    margin-left: 254px;
    margin-top: 181.5px;
    font-family: "ヒラギノ明朝 ProN";
    border: 2px solid #5C5337;
    width: 1395px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5C5337;
    font-size: 50px;
    box-shadow: 0 0 0 30px #D2E09F, 0 0 0 6px;
    background-color: #D2E09F;
}

.step-text{
    margin-top: 78px;
    padding-left: 150px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    font-size: 30px
}

img[src="img/stepup.png"]{
    margin-left: 150px;
    position: relative;
    z-index: 1;
}

img[src="img/background-green.png"]{
    margin-top: -450px;
}

/* 基礎講座 */
.basic-lesson{
    position: relative;
    background-image: url(img/background-wood.png);
}

/* 食材3の位置決め */
img[src="img/food3.png"]{
    position: absolute;
    top: -360px;
    right: -280px;
}

.b-lesson-title h3{
    font-size: 57px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 1620px;
    background-color: #D2E09F;
    margin-left: 150px;
    padding: 59px 0 58px 70px;
}

.b-lesson-title h4{
    font-size: 51px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    margin: 81px auto 81px 209px;
}

.b-lesson-detail{
    display: flex;
}

.b-lesson-image img{
    margin-left: 150px;
    margin-right: 34.5px;
}

.b-lesson-text p{
    font-size: 30px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 50px;
}

/* ベーシックコース */
.basic-detail{
    margin-left: 150px;
    margin-top: 65px;
}

.basic-title{
    display: flex;
    height: 115px;
}

.basic-title h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 1480px;
    background-color: #F1FAD2;
    padding-top: 24px;
    padding-left: 167px;
    margin-left: -154px;
}

.basic-title img{
    z-index: 10;
    margin-top: -7px;
    margin-left: 23px;
    height: 130px;
    width: 130px;
}

.basic-content{
    display: flex;
    margin-top: 15px;
}

.basic-text p{
    font-size: 30px;
    color: #5C5337;
    line-height: 20px;
    margin-left: 30px;
}

.basic-text span{
    font-size: 40px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color:#dceb98;
    color: #5C5337;
    margin-left: 15px;
}

/* サポートコース */
.support-detail{
    margin-left: 150px;
    margin-top: 65px;
}

.support-detail h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 1634px;
    background-color: #F1FAD2;
    padding-left: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.support-content{
    display: flex;
    margin-top: 15px;
}

.support-text p{
    font-size: 30px;
    color: #5C5337;
    line-height: 20px;
    margin-left: 30px;
}

.support-text span{
    font-size: 40px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color:#dceb98;
    color: #5C5337;
    margin-left: 15px;
}

/* フルサポートコース */
.fullsupport-detail{
    margin-left: 150px;
    margin-top: 65px;
}

.fullsupport-title{
    display: flex;
    height: 115px;
}

.fullsupport-title h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 1480px;
    background-color: #F1FAD2;
    padding-top: 24px;
    padding-left: 167px;
    margin-left: -154px;
}

.fullsupport-title img{
    z-index: 10;
    margin-top: -7px;
    margin-left: 23px;
    height: 130px;
    width: 130px;
}

.fullsupport-content{
    display: flex;
    margin-top: 15px;
}

.fullsupport-text p{
    font-size: 30px;
    color: #5C5337;
    line-height: 20px;
    margin-left: 30px;
}

.fullsupport-text span{
    font-size: 40px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color:#dceb98;
    color: #5C5337;
    margin-left: 15px;
}

.nutrition-lesson p{
    font-size: 25px;
    margin-left: 76px;
}

.inquiry-button{
    display: flex;
    margin-left: 160px;
}

.inquiry-button a{
    margin-top: 133px;
    margin-bottom: 97px;
}

/* 育成講座 */
.t-training-lesson{
    background-image: url(img/background-wood2.png);
}

.t-lesson-title h3{
    font-size: 57px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 1620px;
    background-color: #D2E09F;
    margin-left: 150px;
    padding: 59px 0 58px 70px;
}

.t-lesson-title h4{
    font-size: 51px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    margin: 81px auto 81px 209px;
}

.t-lesson-detail{
    display: flex;
}

.t-lesson-image img{
    margin-left: 150px;
    margin-right: 34.5px;
}

.t-lesson-text p{
    font-size: 30px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 50px;
}
/* トータルヘルスケアフードアドバイザー２級　講習 */
.adviser2-detail{
    margin-left: 150px;
    margin-top: 65px;
}

.adviser2-detail h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 1634px;
    background-color: #F1FAD2;
    padding-left: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.adviser2-content{
    display: flex;
    margin-top: 15px;
}

.adviser2-text p{
    font-size: 30px;
    color: #5C5337;
    line-height: 20px;
    margin-left: 30px;
}

.adviser2-text span{
    font-size: 40px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-color:#dceb98;
    color: #5C5337;
    margin-left: 15px;
}

.adviser2-memo p{
    font-size: 25px;
}

/* その後、1級（講師）、シニア（認定講師）へステップアップ */
.adviser1-detail{
    margin-left: 150px;
    margin-top: 65px;
}

.adviser1-detail h3{
    font-size: 50px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 1634px;
    background-color: #F1FAD2;
    padding-left: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.adviser1-content{
    display: flex;
    margin-top: 15px;
}

.adviser1-text p{
    font-size: 30px;
    color: #5C5337;
    line-height: 20px;
    margin-left: 30px;
}

/* お問い合わせボタン */
.t-training-lesson a img{
    margin-left: 730px;
    margin-bottom: 130px;
    margin-top: 96px;
}

/* 料金表 */
.price{
    background-image: url(img/background-wood3.png);
}

.price h3{
    font-size: 57px;
    font-family: "ヒラギノ角ゴシック";
    color: #5C5337;
    width: 1550px;
    background-color: #DCEB98;
    margin-left: 150px;
    padding: 59px 0 58px 70px;
}

img[src="img/price.png"]{
    margin-left: 150px;
    margin-top: 81px;
    width: 1620px;
}

/* 当協会について */
#association-about{
    position: relative;
}

#association-about h3{
    font-family: "ヒラギノ明朝 ProN";
    font-size: 85px;
    color: #5C5337;
    margin-left: 664px;
    margin-bottom: 145px;
}

img[src="img/logo-background.png"]{
   position: absolute;
   top: -80px;
   left: -230px;
}

#association-about iframe{
    position: relative;
    margin-left: 475px;
    margin-bottom: 145px;
    z-index: 1;
}

#association-about p{
    margin-left: 150px;
    font-size: 30px;
    color: #5C5337;
}

/* 協会概要 */
#association-overview h3{
    font-size: 70px;
    width: 100%;
    height: 160px;
    background-color: #747D54;
    color: #FFF;
    margin-top: 223px;
    margin-bottom: 112px;
    text-align: center;
    padding-top: 90px;
}

#association-overview h4{
    font-size: 60px;
    text-decoration:underline;
    text-decoration-color: #FF8748;
    color: #5C5337;
    margin-left: 773.5px;
}

#association-overview p{
    font-size: 30px;
    color: #5C5337;
    margin-left: 150px;
}

#association-overview img{
    margin: 100px auto 185px 150px;
}

/* 代表挨拶 */
.greeting{
    background-image: url(img/background-kitchen.png);
    height: 1495px;
}

.greeting h4{
    font-size: 60px;
    text-decoration:underline;
    text-decoration-color: #FF8748;
    color: #5C5337;
    margin-left: 773.5px;
}

.greeting-content{
    display: flex;
    margin-left: 150px;
    margin-top: 105px;
}

.greeting-content p{
    margin-right: 70px;
    font-size: 30px;
    line-height: 20px;
}

.greeting-text img {
    margin-top: 123px;
    margin-left: 451px;
}

/* お問合わせ */
#mail-form h3{
    font-size: 70px;
    width: 100%;
    height: 160px;
    background-color: #747D54;
    color: #FFF;
    margin-bottom: 112px;
    text-align: center;
    padding-top: 90px;
}

#mail-form p{
    margin-left: 150px;
    font-size: 30px;
    color: #5C5337;
}

.form-text{
    margin-top: 135px;
}

/*  フォーム入力欄 */
.name input, .phone input, .email input, .address input, .reserve-1 input, .reserve-2 input, .reserve-3 input, .memo input{
    display: block;
    background-color: #F7F7F7;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    color: #5C5337;
    font-size: 40px;
}

/* ボックスの大きさ（予約希望日以外） */
.name input, .phone input, .email input, .address input, .memo input{
    width: 646px;
    height: 80px;
}

/* ボックスの大きさ（予約希望日） */
.reserve-1 input, .reserve-2 input, .reserve-3 input{
    width: 502px;
    height: 80px;
}

.name , .phone , .email, .sex, .age, .address , .reserve, .memo{
    margin-top: 54px;
    color: #5C5337;
    font-size: 30px;
}

.form-text{
    margin-left: 209px;
}

.form-text label{
    padding-top: 52px;
}

/* ご予約希望日 */
.reserve-list{
    display: flex;
}

.reserve-title label{
    margin-bottom: 25px;
}

.reserve label{
    margin-right: 28px;
}

.reserve input{
    margin-right: 28px;
}

/* ラジオボタン */
.select input{
    margin-right: 25px;
    margin-left: 4em;
    line-height: 2px;
    top: -4px;
    position: relative;
}

/* 質問内容記載欄 */
.memo input{
    margin-top: 22px;
    width: 1561px; 
    height: 520px;
}

/* メールポリシー */
.mail-policy{
    width: 862px;
    height: 182px;
    margin-left: 354px;
    margin-top: 74px;
    background-color: #F7F7F7;
    padding-top: 22px;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.mail-policy span{
    font-size: 14px;
    color: #5C5337;
    padding-left: 11px;
}

/* 送信ボタン */
#mail-form button{
    width: 229px;
    height: 80px;
    border-radius: 50px;
    background-color: #FF8748;
    color: #FFF;
    margin-left: 637px;
    border: none;
    font-size: 31px;
    margin-top: 111px;
}

/* プライバシーポリシー */
.privacy-policy{
    margin-top: 162px;
    margin-left: 743px;
    margin-bottom: 49px;
}

.privacy-policy a{
    margin-right: 166px;
}

/* 
[footer]のスタイルシート
*/
.block-footer{
    background-color: #747D54;
    height: 175px;
}

.block-footer p{
    font-family: "ヒラギノ角ゴシック";
    font-size: 15px;
    text-align: center;
    padding-top: 80px;
    color: #FFF;
}