/* 画面のスタイルシート*/
body {
    margin: 0;
}
img {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration:none; 
    color: #FFF;
}

/* [header]のスタイルシート*/
.block-header{
    width: 100%;
    z-index: 100;
    height: 179px;
    display: flex;
    background-color: #747D54;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.block-header img{
    margin: 13px auto 13px 50px;
}
ul.header-list{
    display: flex;
    margin: auto 0 auto 0;
    width: 670px;
    padding-inline-start: 0px;
}
.header-list li{
    width: 120px;
    font-family: "ヒラギノ角ゴシック";
    font-size: 30px;
}
.header-list li a:hover{
    color: #FF8748;
}
/* 協会について */
.header-list .about{
    margin-left: 90px;
    width: 250px;
}
/* 
スマホ用ハンバーガーメニュー（
*/
/* ヘッダーボタン */
.header-sp{
    display: none;
}
.header-button{
    width: 69px;
    height: 69px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #747D54;
    border: 1px solid #444;
    z-index: 102;
    position: fixed;
    top: 0;
}
/*inputのcheckboxは非表示に*/
.h-menuCheckbox {
    display:none;
}
.h-menu_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
/*3本線*/
.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 102;
    width: 32px;
    height: 3px;
    background-color: white;
    cursor: pointer;
}
.hamburger-icon:before {
    top: 14px;
}
.hamburger-icon:after {
    top: 28px;
}
/*メニュー以外を暗くする*/
#h-menu_black {
    display: none;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #747D54;
    opacity: 0;
    transition: .7s ease-in-out;
}
/*中身*/
#h-menu_content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 53px 16px 16px;
    background: #747D54;
    overflow: auto;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}
/*チェックボックスにチェックが入ったら表示*/
input:checked ~ .h-menu_icon .hamburger-icon{
    background: transparent;
}
input:checked ~ .h-menu_icon .hamburger-icon::before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top:10px;
    z-index:999;
}
input:checked ~ .h-menu_icon .hamburger-icon::after{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top:10px;
    z-index:999;
}
input:checked ~ #h-menu_black {
    display: block;
    opacity: .8;
}
#h-menu_checkbox:checked ~ #h-menu_content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.h-menu_icon .hamburger-icon,
.h-menu_icon .hamburger-icon::before,
.h-menu_icon .hamburger-icon::after,
#h-menu_black,
#h-menu_content{
    -webkit-transition: all .3s;
    transition: all .3s;
}
#h-menu_content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#h-menu_content ul li{
    border-bottom: solid 1px white;
}
#h-menu_content li a {
    display: block;
    color: white;
    font-size: 14px;
    padding: 24px;
    text-decoration: none;
    transition-duration: 0.2s;
}
#h-menu_content li a:hover {
    background: #FF8748;
}
/* 中身（プライバシーポリシー） */
.h-menu_policy {
    margin-top:100px;
}
.h-menu_policy p{
    text-decoration: none;
    font-size: 10px;
    color: #FFF;
    text-align: right;
    margin-top: 10px;
}
/* レスポンシブ（スマホ） */
@media screen and (max-width: 767px) { 
    .header-sp{
        display: flex;
    }
    .header-sp img{
        margin-left: 40%; 
        width: 69px;
        height: 69px;
    }
    .header-sp button{
        margin-left: auto;
    }
    .block-header{
        display: none;
    }
}
/* 入力内容 */
.content_detail {
    padding-top: 109px;
    color: #5C5337;
    font-size: 20px;
    margin: 0 auto auto 130px;
}
.content_detail p{
    margin: 0;
}
.content_detail span{
    font-size: 28px;
}
.name, .phone, .email, .sex, .age, .address, .reserve1, .reserve2, .reserve3, .memo{
    padding: 20px 40px;
}
.memo{
    margin-right: 200px;
}
.qa-2{
    margin-left: 200px;
}
.qa{
    display: flex;
}
.content_detail label{
    font-weight: bolder;
}
/* 送信ボタン・修正ボタン */
.btn{
    display: flex;
    margin-bottom: 70px;
    margin-top: 80px;
}
.btn button{
    width: 229px;
    height: 80px;
    border-radius: 50px;
    background-color: #FF8748;
    color: #FFF;
    border: none;
    font-size: 31px;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn input{
    width: 229px;
    height: 80px;
    border-radius: 50px;
    background-color: #FFF;
    color: #FF8748;
    border: 1px solid #FF8748;
    font-size: 31px;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 767px) { 
    .content_detail {
        padding-top: 50px;
        font-size: 16px;
        margin: 0;
        text-align: center;
    }
    .content_detail span {
        font-size: 15px;
    }
    .qa{
        display: block;
    }
    .name p, .phone p, .email p, .sex p, .age p, .address p, .reserve1 p, .reserve2 p, .reserve3 p, .memo p{
        margin: 15px 0;
    }
    .qa label{
        font-weight: bold;
    }
    .qa-2{
        margin-left: 0;
    }
    .btn input, .btn button{
        width: 40%;
        height: 50px;
        font-size: 18px;
    }
    .memo{
        margin-right: 0;
    }
}
/* プライバシーポリシー */
.privacy-policy{
    margin: 142px 0 49px 0;
    text-align: center;
}
.privacy-policy a{
    padding: 0 40px 0 100px;
    color: #5C5337;
}
/* 
[footer]のスタイルシート
*/
.block-footer{
    background-color: #747D54;
    height: 175px;
}
.block-footer p{
    font-family: "ヒラギノ角ゴシック";
    font-size: 15px;
    text-align: center;
    padding-top: 80px;
    color: #FFF;
}
.block-footer-sp{
    display: none;
}
@media screen and (max-width: 767px) {
    .privacy-policy{
        display: none;
    }
    .block-footer{
        display: none;
    }
}